@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-prim: #31abea;
  --clr-sec-100: #9c3599;
  --clr-sec-200: #c141bd;
  --clr-sec-300: #fb85f7;
  --clr-light: #fff;
  --clr-grey: #5b5b5b;
  --clr-dark: #000;
  /* Element spacing */
  --sp-0: 0.5rem;
  --sp-1: 1rem;
  --sp-2: 2rem;
  --sp-3: 2rem;
  --sp-4: 4rem;
  --sp-5: 5rem;
  /* Element  Border Radius */
  --br-0: 5px;
  --br-1: 10px;
  --br-2: 15px;
  --br-3: 20px;
  --br-4: 25px;
  --br-5: 30px;
  --br-50: 50%;
  /* Element  Shadow */
  --bs-b: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  --bs-xy: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--clr-light);
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-col-1,
.flex-col-2,
.flex-col-3,
.flex-col-4 {
  min-width: 250px;
  padding: var(--sp-1);
  flex-grow: 1;
}

.flex-col-1 {
  flex-basis: 100%;
  max-width: 700px;
}

.flex-col-2 {
  flex-basis: 50%;
  max-width: 500px;
}

.flex-col-3 {
  flex-basis: 33.33%;
}

.flex-col-4 {
  flex-basis: 25%;
}

.fluid-con {
  width: 100%;
}

.con-lg {
  max-width: 1200px;
  margin-inline: auto;
}

.con-md {
  max-width: 900px;
  margin-inline: auto;
}

.sections {
  padding-block: var(--sp-4);
  padding-inline: var(--sp-0);
}

.section-title {
  font-size: clamp(1.6rem, 10vw, 3rem);
  text-align: center;
  margin-block: var(--sp-2);
  color: var(--clr-sec-100);
}

.section-txt {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--clr-grey);
}

.title-lg {
  font-weight: 700;
  font-size: clamp(1.6rem, 10vw, 3rem);
  margin-bottom: var(--sp-2);
  max-width: 700px;
  text-align: left;
}

.title-sm {
  font-weight: 700;
  font-size: clamp(1.3rem, 7vw, 3rem);
  color: var(--clr-sec-100);
  margin-bottom: var(--sp-2);
  max-width: 700px;
  text-align: left;
}

.btn-con {
  max-width: 500px;
  margin-inline: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--sp-1);
}
.btn-con .btn:nth-child(1) {
  background-color: #0088cc;
}
.btn-con .btn:nth-child(1):hover {
  background-color: #0072ac;
}
.btn-con .btn:nth-child(2) {
  background-color: #25d366;
}
.btn-con .btn:nth-child(2):hover {
  background-color: #0ba343;
}
.btn-con .btn:nth-child(3) {
  background-color: #c32aa3;
}
.btn-con .btn:nth-child(3):hover {
  background-color: #9d0f7e;
}

.btn {
  padding-block: var(--sp-0);
  padding-inline: var(--sp-1);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: var(--br-5);
  box-shadow: var(--bs-xy);
}

.btn-prim {
  background-color: var(--clr-prim);
}

#debugCSSInfoBar {
  z-index: 2000000;
}

#hero-section {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  min-height: 600px;
  padding-top: var(--sp-5);
  background-image: url(../assets/hero_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero-section .hero-con {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: var(--sp-3);
  border-radius: var(--br-2);
  border: 1px solid rgba(99, 226, 255, 0.3);
  max-width: 800px;
}
#hero-section .hero-con .indicator-con {
  margin: 0 auto 6rem;
  position: relative;
}
#hero-section .hero-con .indicator-con .indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  color: var(--clr-light);
  animation: indicatorAnim 3s linear infinite;
}
@keyframes indicatorAnim {
  0% {
    top: 15px;
    color: #0088cc;
  }
  50% {
    top: 0;
    color: #25d366;
  }
  100% {
    top: 15px;
    color: #c32aa3;
  }
}
#hero-section .hero-con .title-lg {
  color: var(--clr-light);
  text-align: center;
}

#why-section .flex-row {
  overflow: hidden;
}
#why-section .flex-row .flex-col-2 {
  margin-inline: auto;
}
#why-section .why-img-con {
  position: relative;
  max-width: 450px;
  margin-inline: auto;
  overflow: hidden;
}
#why-section .why-img-con .why-rocket {
  width: 300px;
  position: absolute;
  bottom: -100px;
  left: -100px;
  transform: rotate(45deg);
  animation: rocketAnim 3s linear infinite;
}
@keyframes rocketAnim {
  0% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 100px;
    left: 100px;
    opacity: 0.5;
  }
  75% {
    bottom: 225px;
    left: 225px;
    opacity: 0;
  }
  100% {
    bottom: 225px;
    left: 225px;
    opacity: 0;
  }
}

#service-section {
  width: 100%;
  text-align: center;
  color: var(--clr-light);
  background: #680e7b;
  background: linear-gradient(to left, #333399, #680e7b);
}
#service-section .service-icons {
  width: 60px;
}
#service-section .service-title {
  font-size: 1.6rem;
  margin-block: var(--sp-1);
  color: var(--clr-sec-300);
}
#service-section .section-txt {
  color: var(--clr-light);
}
#service-section .btn-con {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: var(--sp-3);
  border-radius: var(--br-2);
  border: 1px solid rgba(99, 226, 255, 0.3);
  margin-top: var(--sp-3);
  min-height: 100px;
  max-width: 600px;
}/*# sourceMappingURL=main.css.map */